<div class="col-sm-12 pt-2">
  <div class="card card-outline card-cyan" [hidden]="breakdownCategoryCard">
    <div class="card-header">
      <h3 class="card-title"> Breakdown Category </h3>
      <div class="card-tools">
        <button type="button" class="btn btn-sm btn-outline-info" (click)="addBreakdownCategory()"
          *ngIf="masterOperation['add']">
          <i class="fas fa-plus fa-sm mr-1"></i> Breakdown Category
        </button>
        <button class="btn btn-secondary btn-sm ml-2" type="button" id="toggle_icon">
          <i class="fa fa-toggle-off" id="toggleIcon"></i>
        </button>
        <button class="btn btn-secondary btn-sm ml-2" type="button" (click)="textWrap()"><i
            class="fas fa-text-width"></i>
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table id="categoryTable" class="table table-sm table-bordered">
          <thead>
            <tr>
              <th> Operation </th>
              <th> Status </th>
              <!-- <th> Company </th> -->
              <th> Breakdown Category Code </th>
              <th> Breakdown Category Name </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of breakdownCategoryList">
              <td>
                <div class="btn-group">
                  <button class="btn" title="Edit Breakdown Category" (click)="editBreakdownCategory(list)"
                    *ngIf="masterOperation['edit']">
                    <i class="fas fa-pencil-alt"></i>
                  </button>
                  <button *ngIf="list.is_assigned == 'yes' ? false : masterOperation['delete'] ? true : false"
                    class="btn" title="Remove Breakdown Category"
                    (click)="statusBreakdownCategory(list.breakdown_category_id,'delete')">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </td>
              <td> <a class="btn" title="Active/InActive Issue"
                  (click)="statusBreakdownCategory(list.breakdown_category_id,list.status)">
                  <i
                    [ngClass]="list.status == 'active' ? 'far fa-thumbs-up text-success' : 'far fa-thumbs-down text-danger'"></i></a>
              </td>
              <!-- <td>{{ list.company_name }}</td> -->
              <td>{{ list.breakdown_category_code }}</td>
              <td>{{ list.breakdown_category_name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="list-style: none;" *ngIf="listView">
        <li class="card p-2">
          <div class="row">
            <div class="col-sm-2">
              <b> Operation </b>
            </div>
            <div class="col-sm-2">
              <b> Status </b>
            </div>
            <div class="col-sm-3">
              <b> Breakdown Category Code </b>
            </div>
            <div class="col-sm-3">
              <b> Breakdown Category Name </b>
            </div>
          </div>
        </li>
        <div style="height: 70vh;overflow-y: auto;">
          <li class="callout callout-info p-2" *ngFor="let list of breakdownCategoryList">
            <div class="row align-items-center">
              <div class="col-sm-2">
                <div class="btn-group">
                  <button class="btn" title="Edit Breakdown Category" (click)="editBreakdownCategory(list)"
                    *ngIf="masterOperation['edit']">
                    <i class="fas fa-pencil-alt"></i>
                  </button>
                  <button *ngIf="list.is_assigned == 'yes' ? false : masterOperation['delete'] ? true : false"
                    class="btn" title="Remove Breakdown Category"
                    (click)="statusBreakdownCategory(list.breakdown_category_id,'delete')">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </div>
              <div class="col-sm-2">
                <button class="btn" title="Active/InActive Breakdown Category"
                  (click)="statusBreakdownCategory(list.breakdown_category_id,list.status)">
                  <i
                    [ngClass]="list.status == 'active' ? 'far fa-thumbs-up text-success' : 'far fa-thumbs-down text-danger'"></i>
                </button>
              </div>
              <div class="col-sm-3">
                <h6 class="m-0">{{ list.breakdown_category_code }}</h6>
              </div>
              <div class="col-sm-3">
                <h6 class="m-0">{{ list.breakdown_category_name }}</h6>
              </div>
            </div>
          </li>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-outline card-cyan" [hidden]="!breakdownCategoryCard">
    <div class="card-header">
      <h3 class="card-title"> Breakdown Category </h3>
    </div>
    <form id="breakdown_category_form" autocomplete="off">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label for="created_on" class="col-sm-4"> Created On </label>
              <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm " id="created_on" name="created_on" value=""
                  [(ngModel)]="createdOn" disabled />
              </div>
            </div>
            <div class="form-group row">
              <label for="modified_on" class="col-sm-4"> Modified On </label>
              <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm " id="modified_on" name="modified_on" value=""
                  [(ngModel)]="modifiedOn" disabled />
              </div>
            </div>
            <div class="form-group row" style="display: none;">
              <label class="col-sm-4" for="company_name"> Company <sup><i
                    class="fas fa-asterisk fa-xs text-red"></i></sup></label>
              <div class="col-sm-8">
                <select id="company_name" name="company_name" class="select2" style="width:100%;">
                  <option value=""> ~~ Select ~~ </option>
                  <option *ngFor="let company of companyList" value="{{ company.company_id }}">
                    {{ company.company_code }}-{{ company.company_name }}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="bu_code" class="col-sm-4"> Code <sup><i class="fas fa-asterisk fa-xs text-red"></i></sup>
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm required" name="breakdown_category_code"
                  id="breakdown_category_code" value="" [(ngModel)]="breakdownCategoryCode"
                  (input)="convertToUpperCase()" />
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label for="created_by" class="col-sm-4"> Created By </label>
              <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm " id="created_by" name="created_by" value=""
                  [(ngModel)]="createdBy" disabled />
              </div>
            </div>
            <div class="form-group row">
              <label for="modified_by" class="col-sm-4"> Modified By </label>
              <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm " id="modified_by" name="modified_by" value=""
                  [(ngModel)]="modifiedBy" disabled />
              </div>
            </div>
            <div class="form-group row">
              <label for="breakdown_category_name" class="col-sm-4"> Name <sup><i
                    class="fas fa-asterisk fa-xs text-red"></i></sup> </label>
              <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm required" name="breakdown_category_name"
                  id="breakdown_category_name" value="" [(ngModel)]="breakdownCategoryName" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <button type="submit" class="btn btn-sm btn-info mr-2" (click)="saveBreakdownCategory()"> Save </button>
        <button type="button" class="btn btn-sm btn-default" (click)="cancel()"> Cancel
        </button>
      </div>
    </form>
  </div>
</div>
