<section class="col-sm-12 pt-2">
	<div class="card card-info card-outline">
		<div class="card-header with-border">
			<h3 class="card-title">Change Password</h3>
		</div>
		<form id="save_form" name="save_form" method="post" class="form-horizontal">
			<div class="card-body"><br />
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<div class="form-group row">
							<label for="oldpassword" class="col-sm-4">Old Password</label>
							<div class="col-sm-8">
								<div class="input-group">
									<input type="password" class="form-control form-control-sm required" id="oldpassword" name="oldpassword" value="" />
									<div class="input-group-append">
										<div class="input-group-text pt-0 pb-0">
											<label class="m-0">
												<input type="checkbox" class="form-control-sm password_show" org_id="old" style="display: none;">
												<i id="oldpassword_icon" class="fas fa-eye"></i>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label for="newpassword" class="col-sm-4">New Password</label>
							<div class="col-sm-8">
								<div class="input-group">
									<input type="password" class="form-control form-control-sm required" id="newpassword" name="newpassword" value="" />
									<div class="input-group-append">
										<div class="input-group-text pt-0 pb-0">
											<label class="m-0">
												<input type="checkbox" class="form-control-sm password_show" org_id="new" style="display: none;">
												<i id="newpassword_icon" class="fas fa-eye"></i>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label for="retypepassword" class="col-sm-4">Retype Password</label>
							<div class="col-sm-8">
								<div class="input-group">
									<input type="password" class="form-control form-control-sm required" id="retypepassword" name="retypepassword" value="" />
									<div class="input-group-append">
										<div class="input-group-text pt-0 pb-0">
											<label class="m-0">
												<input type="checkbox" class="form-control-sm password_show" org_id="retype" style="display: none;">
												<i id="retypepassword_icon" class="fas fa-eye"></i>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer text-center">
				<button type="submit" class="btn btn-sm btn-info mr-2" (click)="save()">Save</button>
				<button type="button" id="btn_cancel" class="btn btn-sm btn-default" (click)="cancel()">Cancel</button>
			</div>
		</form>
	</div>
</section>