<nav class="quick">
    <div class="nav-content">
        <div class="quick-ball">
            <div class="circle"><i class="fas fa-cog"></i></div>
        </div>
        <span style="--i:0">
            <a><i class="fas fa-chevron-left" style="position: absolute;top: 30%;right: 40%;"></i></a>
        </span>
        <span style="--i:1">
            <a>
                <div class="theme-button" style="text-align: end;">
                    <label>
                        <input type="checkbox" class="btn_theme" id="breakdown_theme">
                        <i class="fas fa-sun sun"></i>
                        <i class="fas fa-moon moon"></i>
                    </label>
                </div>
            </a>
        </span>
        <span style="--i:2">
            <a><i class="fas fa-edit" style="position: absolute;top: 32%;left: 23%;"></i></a>
        </span>
    </div>
</nav>