<div class="client-login">
    <div class="container">
        <div class="screen">
            <div class="screen_content">
                <form class="login">
                    <div class="login_field">
                        <i class="login_icon fas fa-building"></i>
                        <input type="text" class="login_input" placeholder="Company Name">
                    </div>
                    <div class="login_field">
                        <i class="login_icon fas fa-user"></i>
                        <input type="text" class="login_input" placeholder="Referred">
                    </div>
                    <div class="login_field">
                        <i class="login_icon fas fa-envelope"></i>
                        <input type="email" class="login_input" placeholder="Email Id">
                    </div>
                    <div class="login_field">
                        <i class="login_icon fas fa-phone-alt"></i>
                        <input type="tel" class="login_input" placeholder="Phone No">
                    </div>
                    <div class="login_field">
                        <input type="text" class="login_input pl-0" placeholder="How many users do you have">
                    </div>
                    <div class="login_field">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="company_list" name="company_list"
                                class="custom-control-input custom-control-input-cyan required" autocomplete="off">
                            <label for="company_list" class="custom-control-label" style="color: #323a40;font-weight: 600 !important;">Are you have Multiple
                                Companies</label>
                        </div>
                    </div>
                    <div class="d-flex">
                        <button class="button login_submit mr-2">
                            <span class="button_text">Save</span>
                            <i class="button_icon fas fa-chevron-right"></i>
                        </button>
                        <button class="button login_submit">
                            <span class="button_text">Cancel</span>
                            <i class="button_icon fas fa-times"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="screen_background">
                <span class="screen_background_shape screen_background_shape4"></span>
                <span class="screen_background_shape screen_background_shape3"></span>
                <span class="screen_background_shape screen_background_hape2"></span>
                <span class="screen_background_shape screen_background_shape1"></span>
            </div>
        </div>
    </div>
</div>